* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----- Mobile ----- */
@media screen and (max-width: 375px) {
  .header {
    width: auto; }
  .header .c-menu {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #E6E3DC;
    justify-content: center;
    padding: 16px 16px 16px 16px; }
  .header .c-menu .c-menu__logo {
    height: 40px; }
  .header .c-menu .c-menu__nav {
    display: none; }
  .header .c-menu .c-menu__nav .c-menu__nav__item {
    font-family: 'Montserrat', sans-serif;
    color: #564A49;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none; }
  .header .c-menu .c-menu__nav .c-menu__nav__btn-contato {
    color: white;
    background-color: #8C907A;
    padding: 16px 24px;
    border: #8C907A 2px solid;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px; }
  .header .c-menu .c-menu__nav .c-menu__nav__btn-contato:hover {
    background-color: white;
    color: #8C907A;
    border: #8C907A 2px solid;
    box-sizing: border-box;
    cursor: pointer; }
  .main--image {
    width: 100%; }
  .main--image__desktop {
    display: none; }
  .main--image__mobile {
    width: 100%; }
  .contato-title {
    padding: 24px; }
  .contato-title .contato-title__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    line-height: 32px;
    color: #564A49; }
  .contato-container {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px; }
  .contato-container .contato-content {
    display: flex;
    flex-direction: column;
    gap: 24px; }
  .contato-container .contato-content .orcamento-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #8C907A; }
  .contato-container .contato-content .orcamento-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #BAA496; }
  .contato-container .contato-form {
    width: 100%; }
  .contato-container .contato-form .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; }
  .contato-container .contato-form .fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 16px; }
  .contato-container .contato-form .fieldset .field {
    display: flex;
    flex-direction: column;
    gap: 4px; }
  .contato-container .contato-form .fieldset .field .label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #BAA496; } }

/* ----- Desktop ----- */
@media screen and (min-width: 375px) {
  .header {
    width: auto; }
  .header .c-menu {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #E6E3DC;
    justify-content: space-between;
    padding: 16px 96px 16px 96px; }
  .header .c-menu .c-menu__logo {
    height: 40px; }
  .header .c-menu .c-menu__nav {
    display: flex;
    align-items: center;
    gap: 24px; }
  .header .c-menu .c-menu__nav .c-menu__nav__item {
    font-family: 'Montserrat', sans-serif;
    color: #564A49;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none; }
  .header .c-menu .c-menu__nav .c-menu__nav__btn-contato {
    color: white;
    background-color: #8C907A;
    padding: 16px 24px;
    border: #8C907A 2px solid;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px; }
  .header .c-menu .c-menu__nav .c-menu__nav__btn-contato:hover {
    background-color: white;
    color: #8C907A;
    border: #8C907A 2px solid;
    box-sizing: border-box;
    cursor: pointer; }
  .main--image {
    width: 100%; }
  .main--image__desktop {
    width: 100%; }
  .main--image__mobile {
    display: none; }
  .contato-title {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .contato-title .contato-title__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700px;
    line-height: 72px;
    color: #564A49; }
  .contato-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 96px;
    padding: 0px 96px 0px 96px; }
  .contato-container .contato-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px; }
  .contato-container .contato-content .orcamento-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #8C907A; }
  .contato-container .contato-content .orcamento-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #BAA496; }
  .contato-container .contato-form {
    width: 612px; }
  .contato-container .contato-form .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; }
  .contato-container .contato-form .fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 16px; }
  .contato-container .contato-form .fieldset .field {
    display: flex;
    flex-direction: column;
    gap: 4px; }
  .contato-container .contato-form .fieldset .field .label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #BAA496; } }
